<app-pop-up title="hi">
  <app-menu-item>hello</app-menu-item>
  <app-menu-item>from</app-menu-item>
  <app-menu-item>layout</app-menu-item>
</app-pop-up>

<button [appPopover]="popoverTemplate">show/hide popover</button>

<ng-template #popoverTemplate>
  <article class="card">
    <h2>Some Title</h2>
    <p>Hello World</p>
  </article>
</ng-template>
<!-- <app-select>
  <p  #p >hello without a thing</p>
  <p select-option #p>hello without another thing</p>
  <span #p><h3>foo bar</h3></span>
  <p>hi</p>
</app-select> -->
<br><br>

<router-outlet *ngIf="showRoute"></router-outlet>
