/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import 'bootstrap/dist/css/bootstrap.min.css';


html, body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // min-height: 100vh;
  // width: 100%;
}


.transparent{
  opacity: 0;
}

.hidden {
  visibility: hidden;
}
