/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
@import '@angular/cdk/overlay-prebuilt.css';
body { margin: 30px 5%; padding:5%;font-family: Roboto, "Helvetica Neue", sans-serif;border:1px solid green; box-shadow: 1in; }
